body{
    background: rgba(0, 0, 0, 0.7) url('download.jpeg') center center fixed;
    background-size: cover;
    background-blend-mode:color-dodge ;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.container{
    color:rgb(245, 100, 48);
    margin-left: 10px;
    cursor:pointer;

}
.container h1:hover{
    color:goldenrod;

}
.navbar ul li{
    display: inline-block;
    padding: 18px;
    text-transform: uppercase;
}
.navbar ul li a{
    text-decoration: none;
    color: #fff;
    padding: 4px;
    transition: 3.5s;
}
.navbar ul li a:hover{
    box-shadow: 0 3px 50px orangered inset,0 3px 50px orangered inset,0 3px 50px orangered inset,0 3px 50px orangered inset,0 3px 50px orangered inset;
}
.navbar .reservation{
    padding: 8px;
    background-color: orangered;
}
.content{
    position: absolute;
    color: #fff;
    top: 40%;
    left: 25%;
}
.content h3{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    margin-left: 31%;

}
.content h3:hover{
    font-size: 28px;
    color:orangered;
    margin-left: 30%;
}
.content h1{
    font-size: 50px;
}
.content p{
    text-align: center;
    margin-top: 17px;
}

.search{
    position: absolute;
    margin-top: 26%;
    margin-left: 42%;
}
.search input{
    outline: none;
    border: none;
    padding: 12px 40px;
    size: 1em;
    margin-top: 6%;
    width: 100%;
}
.submit{
    position: absolute;
    margin-top: 32%;
    margin-left: 49%;
}
.submit a{
    text-decoration: none;
    color: #fff;
    padding: 12px 25px;background-color: orangered;
}
